<td><%= model.device&.app&.name %></td>
<td><%= model.device&.device_id %></td>
<td><%= model.ip %></td>
<td>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :default, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
<td><%= model.aim_i18n %></td>